.card{
    background-color: white;
    text-align: center;
    height: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    flex-direction: column;
}